
<!DOCTYPE html>
<html>
<head>
<script src="angular.min.js" ></script>

</head>
<body>

<div ng-App="studentsApp" ng-controller="studentsCtrl" >
	<div ng-repeat="student in students">
	<table border="1">
		<tr><td>Name in uppercase:</td><td>{{student.name|uppercase}}</td></tr>
		<tr><td>subjects:</td><td>
			<ul>
				<li ng-repeat="subject in student.subjects |orderBy:'marks'">
				{{ subject.name+',marks:'+subject.marks}}
			</li>
				
			</ul>
		</td>
	</tr>
	<tr><td>total marks:</td><td>{{student.total()}}</td></tr>
	<tr><td>average marks:</td><td>{{student.average() |number:2}}</td></tr>				
	 </table>

</div>
<br/>
<br/>
Highest average marks:{{comparision()}}
</div>
<script>
	var app=angular.module("studentsApp",[]);
	var average1;
			var average2;
		app.controller("studentsCtrl",function($scope){
			
			$scope.students=[{
				name:'ranjini',
				subjects:[{name:'corejava',marks:100},
				{name:'Mean',marks:85},
				{name:'React',marks:80}],
				total:function(){
					sum=0;
					for (i =0; i <$scope.students[0].subjects.length; i++) {
						sum=sum+$scope.students[0].subjects[i].marks;
					}
					return sum;
				},
				average:function(){
					average1=$scope.students[0].total()/$scope.students[0].subjects.length;
 					return average1;
				}},

			   {name:'Sindhu',
				subjects:[{name:'corejava',marks:95},
				{name:'Mean',marks:70},
				{name:'React',marks:75}],
				total:function(){
					sum=0;
					for (i =0; i <$scope.students[1].subjects.length; i++) {
						sum=sum+$scope.students[1].subjects[i].marks;
					}
					return sum;
				},
				average:function(){
					average2=$scope.students[1].total()/$scope.students[1].subjects.length;
 					return average2;
				}}];

				$scope.comparision=function()
				{


					if(average1>=average2)
					{
						return average1;
					}

					else
					{
						return average2;
					}
				}

		});

				
</script>
</body>
</html>
