<!Doctype html>
<html>
<head>
<script src="angular.min.js">
</script>

<script>
var app=angular.module("myApp",[]);

app.controller("mycntl",function($scope)
{
$scope.value;
});


app.filter('convertUpper',function()
{
	return function(item)
	{
		var fact=1;
	for( var i=1;i<=$scope.value;i++)
	{ 
	   
      fact=fact*i;
  	}
	$scope.result=fact;
	return fact;
		
	};
});
</script>

</head>


<body ng-App="myApp" ng-controller="mycntl">
<form>

<fieldset>

<legend>factorial</legend>

Enter the number:<input type="number" ng-model="value"/>
<br/>
factorial of number:<input type="number" ng-model="result"/>
<br/>

<input type="submit" ng-click="factorial()">

 </fieldset>
 </form>




</body>

</html>